<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ ./index.php/$1 [L]
</IfModule>

#<Files ~ "\.gitignore$">
#	Order allow, deny
#	Deny from all
#</Files>
#
#<Files ~ "^config\.inc\.php$">
#	Order allow, deny
#	Deny from all
#</Files>
