/*CSS Document
 * Admin Page CSS
 * Author: Boopathi Rajaa
 */

body {
	background: #FFF;
	margin: 0;
	padding: 0;
	height: 100%;
}

.outercontainer {
	width: 940px;
	height: 100%;
	margin: 0 auto;
	background: #EEE;
	border: solid 1px #DDD;
	border-top: 0;
	border-bottom: 0;
}

.forms {
	position: relative;
	top: -500px;
}

.floater {
	position:absolute;
	top:-500px;
}

#nodeheaderBox{
	position:absolute;
	left:50%;
	margin-left:-100px;
	top:-500px;
	margin-top:-100px;
	height:200px;
	width:200px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border : solid 2px #000;
}

#viewNode {
	position: absolute;
}
