/*CSS Document
 * Admin Page CSS
 * Author: Boopathi Rajaa
 */

body {
	background: #FFF;
	margin: 0;
	padding: 0;
	height: 100%;
}

.outercontainer {
	width: 940px;
	height: 100%;
	margin: 0 auto;
	background: #EEE;
	border: solid 1px #DDD;
	border-top: 0;
	border-bottom: 0;
}

.loater {
	position: absolute;
	top: 0;
	display: none;
	background: white;
	margin-left: -470px;
	left: 50%;
	width: 940px;
	height: 400px;
}

#viewNode {
	position: absolute;
}
